[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=user_name
Group=user_name

WorkingDirectory=/home/user_name/resender_eye/
Environment="PYTHONPATH=/home/user_name/resender_eye/"
ExecStart=/home/user_name/resender_eye/.venv/bin/python /home/user_name/resender_eye/main.py

[Install]
WantedBy=multi-user.target
